
<form id="passChangeForm" class="form-with-validation" >
	{% csrf_token %}
	<div class="mb-3">
		<input type="password" class="form-control" id="old_pass_input" name="old_password" placeholder="Old password">
	</div>
	<div class="mb-3">
		<input type="password" class="form-control" id="new_pass_input" name="new_password" placeholder="New password">
	</div>
	<div class="mb-3">
		<input type="password" class="form-control" id="new_pass_confirm" name="password_confirm" placeholder="Password confirmation">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="error-message"></div>
<!--<input type="password" class="form-control" id="pass_input" name="password" minlength="8" maxlength="16" pattern="[A-Za-z0-9_]+">-->