
  <div autocomplete="off" class="formContainer border border-success-subtle">
	<div autocomplete="off" class="form-floating mb-3">
		<input type="text" class="form-control" id="p1_input" placeholder="name@example.com">
		<label for="p1_input">player 1 name</label>
	</div>

	<div autocomplete="off" class="form-floating mb-3">
		<input type="text" class="form-control" id="p2_input" placeholder="Password">
		<label for="p2_input">player 2 name</label>
	</div>

	<button  type='button' data-page="game" class=" btn btn-outline-success redirectionButtons" >Go!</button>

</div>