html
{
	font-family: monospace;
	letter-spacing: .2em;
}
canvas
{
	padding: 0;
	width: 100% ;
	height: 100%;
	box-sizing: border-box;
}

.chart-container {
	display: flex;
	justify-content: center;  /* Centers the chart horizontally */
	align-items: center;      /* Centers the chart vertically */
	width: 45%;              /* Make the container full-width */
	margin: 0 auto;           /* Center the container itself */
}
#winsLossesChart {
	width: 400px;   /* Increase this value to make the chart bigger */
	height: 400px;  /* Maintain a square aspect ratio */
}

#friends-list {
	display: flex;
	flex-direction: column; /* Stack items vertically */
	max-width: 400px; /* Set a maximum width */
	margin: auto; /* Center the container */
}
.friend-item {
	display: flex; /* Use flexbox for alignment */
	align-items: center;
	margin: 10px 0; /* Add vertical spacing between friend items */
}
.friend-avatar {
	width: 60px; /* Set the desired width */
	height: 60px; /* Set the desired height */
	border-radius: 50%; /* Makes the image circular */
	object-fit: cover; /* Ensures the image covers the area without stretching */
	border: 2px solid #ccc; /* Optional: Add a border to enhance appearance */
	margin-right: 10px; /* Space between avatar and text */
}

div#content
{
	aspect-ratio: 2 / 1;
	max-height: 100%;
	width: 80%;
	max-width: 120vh;
}

.formContainer{
	margin: 20px auto;
	width: 40%;
	height: fit-content;
	padding: 20px;

}

.form-control:focus {
	border-color: rgb(15, 82, 20);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 82, 20, 0.6);
}

