{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <button id="startButton">Start Game</button>
    
    <div class="game-area">
        <div class="ball"></div>
        <div class="paddle" id="paddle1"></div>
        <div class="paddle" id="paddle2"></div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
