/* styles.css */


html, body {
	width: 99%;
	height: 99%;
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
}
canvas
{
	margin: 10px;
	padding: 0;
	background-color: black;
	width: 50% ;
	height: 50%;
	border: 10px solid white;

}
.sep {
	border-left: 10px dashed rgba(255,255,255,.5);
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	display: inline-block;
}



.game-area {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #cf3737;
}



#welcome-heading {
    background-color: #fff;
    color: #cf3737;
    text-align: left;
    padding: 10px; /* Adjust padding as needed */
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.login-button {
    position: absolute;
    width: 120px;
    height: 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#loginButton1 {
    left: 160px;  /* Adjust to ensure visibility */
    top: 50%;
    transform: translateY(-50%);
}

#loginButton2 {
    right: 160px;  /* Adjust to ensure visibility */
    top: 50%;
    transform: translateY(-50%);
}

.login-button:hover {
    background-color: #0056b3;
}


.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}